.container {
	width: 100%;
	height: auto;
}

.name {
	float:left;
}

.navbar {
	width: 100%;
	background-color: #bbb;
	height: 60px;
	margin-top: -6px;
}

.navbar-right {
	float:right;
	display:inline;
}

.navbar-left {
	float:left;
	display:inline;
}

.ul-width{
	width: 100%;
}